*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100vw;
    height: 300vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.boxheader{
    width: 100%;
    height: 40%;
    background-image: url(https://mediaim.expedia.com/destination/1/adbcabffb72ab22dfacba6f9adaa364d.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.boxheader > h1{
    width: 50%;
    height: 10%;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    margin: 30px 0px 0px 60px;
}

.subhead{
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.subhead > h2{
    font-family: 'Gill Sans', sans-serif;
    color: whitesmoke;
}

.description{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description > div{
    width: 100%;
    height: 26%;
    display: flex;
    justify-content: space-evenly;
}
.description > div > p{
    width: 40%;
    height: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(50, 50, 50);
}
.image{
    width: 30%;
    height: 85%;
}
.image > img{
    width: 100%;
    height: 100%;
}
hr{
    position: relative;
    left: 33%;
    width: 30%;
    margin: 50px 0px;
}

.link {
    color: #f5f5f5;
    text-decoration: none;
    font-family: 'Gill Sans', sans-serif;
}